.container{
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
}

.dropDown{
    padding: 10px 5px;

    select{
        border: none;
        background-color: white;
    }
}

.searchBorder{
    border-top: none; /* Remove top border */
    border-left: 2px solid #ebebeb; /* Add left border */
    border-right: 2px solid #ebebeb;
}